/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  background-color: #495867;
  font-family: "Kalam", cursive;
}

* {
  margin: 15px;
  padding: 15px;
  font-family: "Kalam", cursive;
}

.input-type {
  margin-top: 20px;
  height: 100px;
  width: 300px;
}
