:root {
  --background: #495867;
  --border: #000;
  --colorSite: #ce796b;
  --colorTest1: #fcba04;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Kalam", cursive;
}

.main-container {
  background-color: var(--background);
}

.post-f {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 20px;

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 400px;
    border-radius: 20px;
    list-style: none;
    box-shadow: #ce796b 0px 0px 6px, #ce796b 0px 0px 6px;

    .image-post {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;

      width: 400px;
      height: 450px;
      border-radius: 19px;
    }

    .image-post:hover {
      border: 1px var(--colorTest1) solid;
    }

    .d {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;

      margin: 10px 10px 10px 20px;
      gap: 10px;
    }
  }
}
