:root {
  --background: #495867;
  --border: #000;
  --colorSite: #ce796b;
  --colorTest1: #fcba04;
}

body {
  height: 100dvh;
}

main {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Kalam", cursive;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  row-gap: 20px;
  flex-wrap: wrap;

  background-color: var(--background);
}

.post-f {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: max-content;
    height: max-content;
    border-radius: 20px;
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-position: center;
    background-size: cover;
    padding: 2px;

    .image-post {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;

      width: 250px;
      height: auto;
      border-radius: 15px;
      background-position: center;
      background-size: cover;

    .infosPost {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;

    }

  }
}
